/* Aplicacion de estilos globales */
html{
	height: 100%;
}
* {
	box-sizing: border-box;
	margin:  0;
	padding: 0;
}
/*Estilos basicos del body*/
body{
	margin: 0 auto;
}

/*Estilos basicos del header*/
header{
	position: fixed;
	width: 100%;
	height: 50px;
	color: white;
	align-items: center;
	display: block;
	background: skyblue;
}
header h1{
	text-transform: uppercase;
	text-align: left;
	display: inline-block;
}
header nav{
	text-align: right;
	display: inline-block;
}
/*Estilos basicos del nav*/
nav{
	margin-left: 350px;
	flex: 1;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 15px;	
}
nav ul li a:hover{
	color: white;
}

/*Grid de body*/
.principalContainer{
	/*gap: 10px;*/
	display: grid;
	grid-template-areas: 
		"header"
		"main"
		"footer";
}
/*Estilos de clase de header*/
.header{
	background-color: #114666 ;
	grid-area: header;
}
.headerWrap{
	max-width: 60em;
	margin: auto;
}

/*Estilos de clase de main*/
.main{
	grid-area: main;
}
.mainWrap{
	max-width: 50em;
	margin: auto;
}
.section1{
	margin-top: 80px;
	background-color: white;
	display: flex;
}
.section2{
	margin-top: 80px;
	background-color: lightgrey;
	display: flex;
}
.section3{
	margin-top: 80px;
	background-color: white;
	display: flex;
}
.mainSectionText{
	margin-left: 200px;
}
/*Estilos de clase de footer*/
.footer{s
	margin-top: 50px;
	background: lightyellow;
	grid-area: footer;
}

/*Media query para resoluciones de medianas*/
@media(max-width: 942px){
	.principalContainer{
		background-color: blue;
	}
	header{
		height: 60px;
		align-items: center;
	}
	header h1{
		text-align: center;
		display: block;
	}
	header nav{
		text-align: center;
		display: block;
		margin-left: 0px;
	}
	.section1{
		text-align: center;
		align-items: center;
		display: block;
	}
	.section2{
		text-align: center;
		align-items: center;
		display: block;
	}
	.section3{
		text-align: center;
		align-items: center;
		display: block;
	}
}



