/* Aplicacion de estilos globales */
html{
	height: 100%;
}
* {
	box-sizing: border-box;
	margin:  0;
	padding: 0;
}
/*Estilos basicos del body*/
body{
	margin: 0 auto;
}
.headerWrap{
	max-width: 60em;
	margin: auto;
}
/*Estilos basicos del header*/
header{
	align-items: center;
	display: block;
	background: skyblue;
}
header h1{
	text-transform: uppercase;
	text-align: left;
	display: inline-block;
}
header nav{
	text-align: right;
	display: inline-block;
}
/*Estilos basicos del nav*/
nav{
	margin-left: 250px;
	flex: 1;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}
nav ul li a{
	color: black;
	text-decoration: none;
	font-size: 15px;	
}
nav ul li a:hover{
	color: seagreen;
}

/*Grid de body*/
.principalContainer{
	gap: 10px;
	display: grid;
	grid-template-areas: 
		"header"
		"main"
		"footer";
}
/*Estilos de clase de header*/
.header{
	background: deepskyblue;
	grid-area: header;
}

/*Estilos de clase de main*/
.main{
	max-width: 55em;
	margin: auto;
	background: lightblue;
	grid-area: main;
}
.section{
	display: flex;
}
/*Estilos de clase de footer*/
.footer{
	background: lightyellow;
	grid-area: footer;
}

/*Media query para resoluciones de medianas*/
@media(max-width: 942px){
	.principalContainer{
		background-color: blue;
	}
	header{
		align-items: center;
	}
	header h1{
		text-align: center;
		display: block;
	}
	header nav{
		text-align: center;
		display: block;
		margin-left: 0px;
	}
	.section{
		text-align: center;
		align-items: center;
		display: block;
	}
}


