header, section, footer, aside, nav, article{
	color: #2C2C2C;
	display: block;
}
body {
	margin: 0;
	padding: 0;
	width: auto;
	height: 100%;
	
	background-color:#FFFFFF;
}

header{
	position: relative;
	background-color: #FFFFFF;
	color: black;
	width: 100%;
	height: 13%;
	margin: 0px auto;
}

nav{
	position: fixed;
	font-weight: bold;
	font-family: Verdana;
	font-weight: bold;	
	width: 100%;	
	height: 60px;
	background-color: #114666 ;
}

/* Botones del navegador */
#botonIrArriba{
	padding-right: 25px;
	font-size: 15px;
	background: transparent;
	font-family: Verdana;
	font-weight: bold;
	color: white;
	border: none;
}
#botonIrArriba:hover{
	color: #A0A0A0;
}

#botonIrProyectos{
	padding-right: 25px;
	font-size: 15px;
	background: transparent;
	font-family: Verdana;
	font-weight: bold;
	color: white;
	border: none;
}
#botonIrProyectos:hover{
	color: #A0A0A0;
}

#botonIrContactos{
	padding-right: 25px;
	font-size: 15px;
	background: transparent;
	font-family: Verdana;
	font-weight: bold;
	color: white;
	border: none;
}
#botonIrContactos:hover{
	color: #A0A0A0;
}

/* Estilos del div del espacio de navegacion*/
#brand{
	text-transform: uppercase;
	font-size: 20px;
	padding: 15px;
}
#menu{
	padding-right: 25px;
	padding: 15px;
}

/* Estilos para el contenido del centro y del lado 1*/
.section1{
	font-size: ;
	font-family: Cambria;
	padding-top: 50px;
	width: auto;
	height: 600px;
	text-align: right;
	background-color: #FFFFFF;
}
.agrupar1 {
	width: 1150px;	
	margin: auto;
}
.img-text{
	padding-right: 80px;
	font-family: Verdana;
	float: left;
	text-align: center;
}

.texto-AboutMe{
	text-align: justify;
	font-size: 25px;
}

/* Estilos para el contenido del centro y del lado 2*/

.section2{
	font-family: Cambria;
	padding-top: 50px;
	width: auto;
	height: 600px;
	text-align: right;
	background-color: #EAEAEA;
}
.agrupar2 {
	width: 1150px;	
	margin: auto;
}
.proyectos{
	float: left;
	text-align: center;
}

.texto-proyectos{
	padding-right: 550px;
	text-align: justify;
	font-size: 25px;
	float: right;
}

/* Estilos para el contenido del centro y del lado 3*/

.section3{
	font-family: Cambria;
	padding-top: 50px;
	width: auto;
	height: 600px;
	text-align: right;
	background-color: #FFFFFF;
}
.agrupar3{
	width: 1150px;	
	margin: auto;
}
.contacto{
	float: left;
	text-align: center;
}

.texto-contacto{
	padding-right: 655px;
	text-align: justify;
	font-size: 25px;
	float: right;
}

/* Estilos del footer */

footer{
	font-family: Verdana;
	text-align: center;
	position: relative;
	background-color: #FFFFFF;
	color: grey;
	width: 100%;
	height: 5%;
	margin: 0px auto;
	padding-bottom: 30px;
}
.pie{
	clear: both;
}

/* Color de links */

a:link {color:#FFFAFA; text-decoration: none;}  /* unvisited link */

a:visited {color:#FFFAFA; text-decoration: none;}  /* visited link */

a:hover {color:#A0A0A0; text-decoration: none;}  /* mouse over link */

a:active {color:#FFFAFA; text-decoration: none;}  /* selected link */

